<div class="icon-bar large-vertical four-up">
   <%= link_to(green_kiwis_path, class: "item") do %>
      <i class="fi-widget"></i>
      <label>Green Kiwis</label>
   <% end %>
   <%= link_to(new_green_kiwi_path, class: "item") do %>
      <i class="fi-widget"></i>
      <label>New Green Kiwi</label>
   <% end %>
   
   
</div>
