<div class="icon-bar large-vertical four-up">
   <%= link_to(id_attributes_path, class: "item") do %>
      <i class="fi-widget"></i>
      <label>ID Attributes</label>
   <% end %>

   <%= link_to(concepts_path, class: "item") do %>
      <i class="fi-widget"></i>
      <label>Concepts</label>
   <% end %>
   
   
</div>
