 <div class="icon-bar six-up">
   <a class="item">
     <i class="fi-home"></i>
     <label>Home</label>
   </a>
   
   <%= link_to(configurations_path, class: "item") do %>
     <i class="fi-widget"></i>
     <label>Configuration</label>
   <% end %>      

   <%= link_to(green_kiwis_path, class: "item") do %>
     <i class="fi-widget"></i>
     <label>Green Kiwis</label>
   <% end %>      

   
 </div>
